<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Tools</title>
    <link rel="icon" type="image/png" href="../images/TT144.png">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <span>This example is for the article of progressive web apps written for LogRocket</span>
    <br>
    <span>You are now</span> <span><b class="page-status">online</b></span>
    <script src="./js/index.js"></script>
  </body>
</html>