<link rel="stylesheet" href="../css/about.css">


    <div class="row main-container mb-4" id="about">
    <div class="col-lg aboutinfo">

     <div class="abouttitle row-lg-1 notup py-2">About Text-Tools</div>

     <p class="container aboutintro row-lg-2 notup py-1 text-center">
        This Site help Users for various tasks mainly associated with language and text.
        Our Services can do various task using AI and Machine Learning Algorithms which are
        useful for every individual person.
     </p>

     <div class="container serviceintro row-lg-9 py-3">
        <div class="serviceintrotitle row-12 ">Services provided by us</div>

         <ul class="aboutserviceslist p-3 m-2">
            <li class="aboutserviceitem p-2 m-2 rounded pb-md-1">
                <div class="serviceitemtitle">
                    image to text Converter
                </div>
                <div class="serviceiteminfo notup">
                    This service is very useful for students and teachers as with the help of this service
                    they can grab all of information from image.
                </div>
            </li>
            <li class="aboutserviceitem p-2  m-2 rounded pb-md-1 ">
                <div class="serviceitemtitle">
                    Paragraph Summary Maker 
                </div>
                <div class="serviceiteminfo notup">
                    This tools helps to get a summary of long paragraphs and also user can save this summary 
                    and also save it.
                </div>
            </li>
            <li class="aboutserviceitem p-2  m-2  rounded pb-md-1">
                <div class="serviceitemtitle">
                    Language Translator
                </div>
                <div class="serviceiteminfo notup">
                  For a person who is required to deal with different languages or interested in knowing
                  the translation of english language in different languages this tool is very helpful as
                  it converts given text in selected language and also allow to save it.
                </div>
            </li>
            <li class="aboutserviceitem p-2  m-2 rounded pb-md-1">
                <div class="serviceitemtitle">
                    Question Answerer Tool
                </div>
                <div class="serviceiteminfo notup">
                    This tool can help many individuals to get ans to daily life basic question like i.e. 
                    how to start bussiness ? or what is engineering ? , basicaly this tool generate possible
                    answers using machine learning Algorithms.
                </div>
            </li>
            <li class="aboutserviceitem p-2  m-2 rounded pb-md-1">
                <div class="serviceitemtitle ">
                    Text to Speech Converter
                </div>
                <div class="serviceiteminfo notup">
                    This service is very useful for students and teachers as with the help of this service
                    they can grab all of information from image.
                </div>
            </li>
         </ul>
     </div>


    </div>

</div>

</div>


