<link rel="stylesheet" href="css/footer.css">
<!-- <link rel="stylesheet" href="css/index.css"> -->
<footer class="text-center text-lg-start py-2 bg-cdark col text-muted">
  
    <!-- <section class="row-6">
      <div class="container text-center w-25 text-md-start ">

                <ul class="row-sm-12 mx-auto w-50  bg-cdark">
                    <li class="col-sm-3 w-25 bg-cdark"><a href="mailto: kartikhatwar98@gmail.com"><i class="fa-brands fa-google"></i></a></li>
                    <li class="col-sm-3 w-25 bg-cdark"><a href="https://www.facebook.com/kartik.hatwar.79"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="col-sm-3 w-25 bg-cdark"><a href="https://www.linkedin.com/in/kartik-hatwar-5429a9218"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="col-sm-3 w-25 bg-cdark"><a href="https://github.com/Kartik20122002"><i class="fa-brands fa-github"></i></a></li>
                </ul>
         
          </div>
   
    </section> -->
    <!-- Copyright -->
    <div class="text-center row-sm-6 bg-cdark" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright : 
      <a class="text-reset fw-bold bg-cdark" href="mailto: kartikhatwar98@gmail.com">Kartik Hatwar</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->