<link rel="stylesheet" href="../css/navbar.css">

  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid row">
      <a class="navbar-brand col-4 w-25" href="/">
        <img src="../images/AnimatedLogo.gif" alt="Text Tools" id="Logo-img">
      </a>
      <button class="navbar-toggler col-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse col-6" id="navbarSupportedContent">

        <ul class="container navbar-nav row-12 p-auto justify-content-centre">

          <span class="col-lg-3 w-25 m-auto mb-1 text-center"> <a href="/#services" class="btn btn-outline-light" onclick="changetab()">services</a> </span> 
          <span class="col-lg-3 w-25 m-auto mb-1 text-center"> <a href="/#about" class="btn btn-outline-light"  onclick="changetab()">about</a> </span>
          <span class="col-lg-3 w-25 m-auto mb-1 text-center"> <a href="/userpage" class="btn btn-outline-light" id="userpagelink" onclick="changetab()">User Account</a> </span>
          <span class="col-lg-3 w-25 m-auto mb-1 text-center"> <a href="/logout" class="btn btn-outline-danger"  onclick="changetab()">Log Out</a> </span>
            
          </ul>
          
      </div>
    </div>
  </nav>

<script>
   
   function changetab(){
  document.querySelectorAll('#navbar ul a').forEach(function(item){
    item.classList.remove('active');
  })
  event.target.classList.add('active');
   }

</script>
    
 