
  <nav class="navbar navbar-expand-lg  bgc-dark justify-content-center">
    <div class="container-fluid">
      <a class="navbar-brand col-lg-2 light" href="#">Text-Tools</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-lg-0 col-lg-10 row" id="navbarSupportedContent">

        <ul class="container-fluid navbar-nav me-auto mb-2 mb-lg-0 col-12">

          <div class="container-fluid col-lg-6 row justify-content-center">
          <li class="nav-item col-lg-2 px-3 text-center ms-auto justify-content-center">
            <a class="nav-link" href="#">about</a>
          </li>
          <li class="nav-item col-lg-2  px-3 text-center ms-auto justify-content-center">
            <a class="nav-link" href="#">services</a>
          </li>
          <li class="nav-item col-lg-2  px-3 text-center ms-auto justify-content-center">
            <a class="nav-link" href="#">account</a>
          </li>
        </div>
          <li class="nav-item col-lg-6 text-lg-end text-center row-cols-lg-auto">
            <button type="button" class="btn btn-outline-danger logoutbtn col-12 light "><a class="nav-link"  href="#">logout</a></button>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>




    
 