<link rel="stylesheet" href="css/services.css">


<div class="container main-container">

    <div class="service-title text-center mt-3" id="services">Our Current Services</div>


  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col-lg col-4 text-center g-4  m-auto">
        <div class="card text-center card-design my-4  m-auto">
            <div class="card-body">
              <h5 class="card-title">Image to Text Translator</h5>
              <p class="card-text">With the help of this tools anyone can get the text from image ,
                this feature is very easy to use you don't even have to download the img just paste url of img and get text from it.
              </p>
            </div>
            <a href="/imgtotxt" class="btn w-100 btn-cdark">Use</a>
        </div>
    </div>
    
    <div class="col-lg col-4 text-center g-4 m-auto">
        
        <div class="card text-center card-design my-4  m-auto">
            <div class="card-body">
                <h5 class="card-title">summary tool</h5>
                <p class="card-text">this tool can save your time by summerising the long paragraphs,it takes paragraphs as input and return short summary of approximately 5-10 lines.</p>
            </div>
            <a href="/summary" class="btn w-100 btn-cdark">Use</a>
        </div>
    </div>
        
    <div class="col-lg col-4 text-center g-4 m-auto">
        
        <div class="card text-center card-design my-4  m-auto">
            <div class="card-body">
                <h5 class="card-title">translator</h5>
                <p class="card-text">translator can help many individuals as it converts the text in 
                    to different languages , breaking the language barier for our users.
                </p>
            </div>
            <a href="/translate" class="btn w-100 btn-cdark">Use</a>
        </div>
    </div>
    
    <div class="col-lg col-4 text-center g-4 m-auto">
        
        <div class="card text-center card-design my-4  m-auto">
            <div class="card-body">
                <h5 class="card-title">question answers</h5>
                <p class="card-text">this tool is bit tricky but can give amazing results , it takes
                    your question and figure out possible and , sometimes answer maybe irrelevant but most of the time your task gets complete.
                </p>
            </div>
            <a href="/QnA" class="btn w-100 btn-cdark">Use</a>
        </div>
    </div>
    
    <div class="col-lg col-4 text-center g-4 m-auto">
        
        <div class="card text-center card-design my-4  m-auto" >
            <div class="card-body">
              <h5 class="card-title">text to speech</h5>
              <p class="card-text">if you don't like to read long paragraphs or essays then this tool is for you , it converts long text into audio file which you can download in 
                  your system and listen comfortably whenever you want.
                </p>
            </div>
            <a href="/txtTospeech" class="btn w-100 btn-cdark">Use</a>
          </div>
    </div>

  </div>

</div>