<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to Text Converter</title>
    <script src="https://kit.fontawesome.com/57a3e51741.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css"> 
    <link rel="stylesheet" href="css/TxtToSpeech.css">
</head>
<body>
    <%- include('partials/nav.ejs') %>



    <div class="container container-main col-12 my-2">
      
      <div class="title row-1 my-3">Text to Speech Converter</div>
      <div class ="info row-1 my-4">It converts given text into audio file for various languages.</div>

      <div class="row-12 my-3 w-100 px-4 m-auto">

          <form action="/txtToSpeech" method="post">
            <label for="exampleFormControlTextarea1 row" class="form-label blue">Enter Your Text Here</label>
          <div class=" mb-3 row-12">
            <div class="input-area my-2 col-12">
            <textarea class="form-control " id="gettext" rows="3" name="text" required></textarea>
          </div>

          <div class="mb-3 row-12">
            <select class="form-select col-12 w-25 m-auto" aria-label="Default select example" name="voice" required>
              <option value="en-US-4" selected>English</option>
              <option value="hi-IN-2">Hindi</option>
              <option value="ja-JP-3">Japanese</option>
              <option value="es-AR-2">Spanish</option>
            </select>
          </div>
          <div class="bu">
          <button type="submit" class="btn btn-cdark w-25 my-2 m-auto">Convert File</button>
        </div>
          </div>
          </form>


      </div>

      <% if( link !== null){  %> 
        
        
        <div id="gettext" class="container row">
              <div class="resulttitle row">Converted File :</div>
             
                <div class="resultaudio  col-6"> <audio controls src="<%= link %>"> </audio> </div>
                <a href="<%= link %>" target="_blank" class="btn btn-cdark w-25 my-2 m-auto ">
                Download audio
                </a>
              </div>
        <% }else{ %> 
        <%}  %>
    </div>    
  <!-- **************************************************************************************************************************************** -->

  <%- include('partials/footer.ejs') %> 

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="./js/index.js"></script>
</body>
</html>