<link rel="stylesheet" href="css/footer.css">
<!-- <link rel="stylesheet" href="css/index.css"> -->
<footer class="text-center text-lg-start py-2 col">
 
    <!-- Copyright -->
    <div class="text-center row-sm-6" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright : 
      <a class="text-reset fw-bold" href="mailto: kartikhatwar98@gmail.com">Kartik Hatwar</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->