@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    
    font-family: 'Roboto','sans-serif';
    text-decoration: none; text-transform: uppercase;
    list-style: none;
}

html{
    animation: comeon .5s;
}

:root{
    --pri-col : #dfe6e9;
    --sec-col : #282D30;
    --green : #04C383;
    --blue : #0086D6;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }

 #userpage a{
    text-decoration: none;
  }


#userpage.container-main{
    min-height: 100vh;
    background-color: var(--pri-col);
}

footer{
    bottom: 0;
}

#userpage .title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--blue);
}


#userpage .card-title{
    display: flex;
    align-items: center;
    min-height: 10rem;
    max-height: 15rem;
    overflow: hidden;
    font-weight: 600;
    margin: auto;
    background-color: var(--sec-col);
    border-radius: 1rem;
}

/* #userpage img{
    transition: 1s all;
}

#userpage img:hover{
    transform: rotateY(360deg);
} */

#userpage .d-flex{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#userpage .d-flex a{
  margin-right: 1rem;
  width: 45%;
}

.data-container{
  width: 100%;
  padding: 2%;
}

.data-container .data-card{
 width: 100%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: flex-start;
}

.data-card a{
  display: flex;
  text-decoration: none;
  color: var(--sec-col);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card img{
  width: 15rem;
}


@media (max-width:500px){
  html{
    font-size: 70%;
  }
}