

.navbar{
    padding-left: 1rem;
    transition: 10ms all;
    position: sticky;
    background-color: var(--sec-col);
    top:0px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

.bg-cdark{
    background-color: var(--sec-col);
    color: var(--pri-col);
}

.bg-clight{
    background-color: var(--pri-col);
    color: var(--sec-col);
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.navbar-brand:hover{
    color: var(--pri-col);
}

.w-10{
   margin: auto;
    width: 9rem;
}
#navbar ul span a{
    width: 55%;
    transition: .5s all;
 }

#navbar ul span a:hover{
   width: 65%;
   transition: .5s all;
}

#navbar ul span a.active{
    width: 80%;
    transition: .5s all;
 }

#Logo-img{
    width: 13rem;
}