.bgc-light{
    background-color: var(--pri-col);
}
.bgc-dark{
    background-color: var(--sec-col);
}
.light{
    color: var(--pri-col);
}
.dark{
    color: var(--sec-col);
}
.third{
    background-color: var(--tri-col);
}

body{
    background-color:var(--pri-col);
}

.navbar{
    position: sticky;
    top:0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 6s00;
}

.navbar-brand:hover{
    color: var(--blue);
}

.nav-link{
    color: var(--pri-col);
}
.nav-link:hover{
    color: var(--pri-col);
}

/* .navlogoutbtn{
    padding: 0;
    width: 7rem;
    border-radius: 3rem;
    font-size: 1rem;
} */

.btn-cdark{
    border-radius: 0.375rem;
    background-color: var(--sec-col);
    color: var(--pri-col);
 }
 
 .btn-cdark:hover{
     background-color: var(--green);
     color: var(--pri-col);
 }

 .navlogoutbtn:hover{
    background-color: red;
}
.navlogoutbtn:hover .nav-link{
    color:  #dfe6e9;
}
