.bgc-light{
    background-color: var(--pri-col);
}
.bgc-dark{
    background-color: var(--sec-col);
}
.light{
    color: var(--pri-col);
}
.dark{
    color: var(--sec-col);
}
.third{
    background-color: var(--tri-col);
}

body{
    background-color:var(--pri-col);
}

.navbar{
    transition: 10ms all;
    position: sticky;
    top:0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}

.navbar-brand:hover{
    color: var(--pri-col);
}

.nav-link{
    color: var(--pri-col);
}
.nav-link:hover{
    color: white;
}

.navbar a:hover{
    color: white;
}

.btn-cdark{
    border-radius: 0.375rem;
    background-color: var(--sec-col);
    color: var(--pri-col);
 }
 
 .btn-cdark:hover{
    border: 1px solid var(--sec-col);
     /* background-color: var(--pri-col);
     color: var(--blue); */
 }

 .navlogoutbtn:hover{
    background-color: red;
}
.navlogoutbtn:hover .nav-link{
    color:  #dfe6e9;
}
