@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    
    font-family: 'Roboto','sans-serif';
    text-decoration: none; text-transform: uppercase;
    list-style: none;
}

html{
    animation: comeon .5s;
}


:root{
    --pri-col : #dfe6e9;
    --sec-col : #282D30;
    --green : #04C383;
    --blue : #0086D6;
}

#userpage .a0{
    transition: 2s all;
}

#userpage .a1{
    transition: 2s all;
}

#userpage .a2{
    transition: 2s all;
}

#userpage .a3{
    transition: 2s all;
}

@keyframes comeon {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }

 #userpage a{
    text-decoration: none;
    transition: .6s all;
    width: 27%;
  }

  #userpage a:hover{
    box-shadow: 0 5px 10px #a1b2b9; 
    border: 0.5px solid black;
    width: 50%;
  }

#userpage.container-main{
    min-height: 100vh;
    background-color: var(--pri-col);
}

footer{
    bottom: 0;
}

#userpage .title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--blue);
}


#userpage .card-title{
    display: flex;
    align-items: center;
    min-height: 10rem;
    max-height: 15rem;
    overflow: hidden;
    font-weight: 600;
    margin: auto;
    background-color: var(--sec-col);
    border-radius: 1rem;
}

#userpage img{
    transition: 1s all;
}

#userpage img:hover{
    transform: rotateY(360deg);
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    html{
      font-size: 50%;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    html{
      font-size: 60%;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    html{
      font-size: 80%;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    html{
      font-size: 100%;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    html{
      font-size: 100%;
    }
  }